celery[redis,auth,msgpack]==5.5.1
flask==3.0.3
flask-cors==5.0.0
flask-swagger-ui==3.36.0
gunicorn==23.0.0
gevent==24.2.1
pyyaml>=5.4.1
supervisor>=4.2.2
numpy>=1.26.3
librosa>=0.8.0
webrtcvad>=2.0.10
matplotlib
memory-tempfile
scipy
scikit-learn
spafe
pydub
python_speech_features
redis
