celery[redis,auth,msgpack]==5.5.1
flask==3.0.3
flask-cors==5.0.0
flask-swagger-ui==3.36.0
gunicorn==23.0.0
gevent==24.2.1
pyyaml>=5.4.1
supervisor>=4.2.2
pyannote.audio==3.3.2
speechbrain==1.0.0
torchaudio==2.4.1
memory-tempfile==2.2.3
# Version 2 of numpy breaks pyannote 3.1.1 (use of np.NaN instead of np.nan)
numpy<2
qdrant-client
